.footer {
  color: #fff;
  background-color: #000;
  padding: 40px;
  text-align: center;
  text-transform: uppercase;
  @include font-size(12);
  letter-spacing: 1px;

  b {
    font-family: NobelBold;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .facebook {
    color: #fff;
    float: right;
    background-repeat: no-repeat;

    img {
      width: 20px;
      height: 20px;
      vertical-align: text-bottom;
    }
  }
}
