.map {
  background: #eee;
  padding: 60px 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px;
  }

  iframe {
    max-width: 1000px;
  }
}
