.map {
  background: #eee;
  padding: 60px 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  //margin-top: 40px;

  p {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px;
  }

  figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }

  img {
    max-width: 500px;
  }

  figcaption {
    margin-top: 8px;
    text-align: center;
    font-style: italic;
  }

  iframe {
    max-width: 1000px;
  }
}
